.manager>div {
    display: flex;
    justify-content: space-between;
    width: 100wh;
}

.web {
    width: 100wh;
}

.content {
    flex: 1 !important;
    padding: 1rem;
}

.title-layout {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
    color: rgb(82, 82, 82);
}

img {
    width: 100%;
    height: 100%;
}

a {
    list-style: none;
    text-decoration: none;
}

.content-web {
    padding: 1rem 5rem;
}